<div class="block d-flex">
  <div class="card-view">
    <div class="card-title">
      <p class="text-center"><strong>Xem thông tin bảo mật thẻ</strong></p>
    </div>
    <div class="card-body">
      <div class="card-image d-flex justify-content-center">
        <img src="../../../assets/vnpay-card.png" alt="vnpay-card" />
      </div>
      <div class="card-info">
        <div class="row-info d-flex d-flex justify-content-between">
          <p class="d-flex  align-items-center">Người nhận</p>
          <p><strong>nguyen văn b</strong></p>
        </div>
        <div class="row-info d-flex d-flex justify-content-between">
          <p>Số thẻ</p>
          <p><strong id="card-number">4384012322339648</strong> <button (click)="copy()"><img src="../../assets/copy-icon.png" alt=""></button></p>
        </div>
        <div class="row-info d-flex d-flex justify-content-between">
          <p>CCV</p>
          <p><strong>012</strong></p>
        </div>
        <div class="border-none row-info d-flex d-flex justify-content-between">
          <p>Ngày hết hạn</p>
          <p><strong>01/2024</strong></p>
        </div>
        <div class="alert-text">
            Còn {{seconds}} giây sẽ hết phiên hiển thị
        </div>
      </div>
    </div>
    <div class="card-button">
        <button class="btn btn-primary">Kết thúc</button>
    </div>
  </div>
  <div class="card-alert d-flex justify-content-center align-items-start" *ngIf="timeout">
    <div class="alert-body">
      <h5 class="text-center">Đã hết phiên hiển thị</h5>
      <p>Để tiếp tục xem thông tin bảo mật thẻ vui lòng thực hiện lại thao tác</p>
      <div class="d-flex flex-row-reverse">
        <button (click)="closeTab()">Đóng</button>
      </div>
    </div>
  </div>
</div>
